@CHARSET "UTF-8";

html, body {
        height: 100%;
        margin: 0px;
    }
#content {
	display:inline-block;
	height: 100%;
	width:100%;
    background-image: url("../images/isComing.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

#header{
	
	background-color:#333333;
	width:100%;
	height:10%;	
	display:inline-block;
}
#title{
	
	color:white;
	font-family: cursive;
}

#left-header{
	
	float:left;
	margin: 30px;
	font-size:20px;
}

#right-header{
	
	float:right;
	margin: 30px;
}
