@CHARSET "UTF-8";

#right-header form{
	display:inline-block;
}

#right-header form input{
	margin-right: 10px;
	height:20px;
}
#submitIn{
	display:inline-block;
	border: none;
	height:20px;	
	line-height: 18px;
}
